language: cpp
sudo: false
dist: trusty
compiler:
- g++
os:
- linux

before_install:
  - pip install --user codecov

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
            - libeigen3-dev
        packages:
            - lcov

branches:
  only:
  - master

script: ./run_build.sh

after_success:
    # Creating report
  - cd ${TRAVIS_BUILD_DIR}
  - ls -l
  - lcov --directory . ./lib --capture --output-file coverage.info # capture coverage info
  - lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter out system
  - lcov --list coverage.info #debug info
  # Uploading report to CodeCov
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"


notifications:
  email:
    - aolgu003@ucr.edu

env:
  global:
  - LANG="en_US.UTF-8"


